[Unit]
Description=__NAME__ oneshot service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/oneshot____NAME____start.sh
RemainAfterExit=true
ExecStop=/usr/local/bin/oneshot____NAME____stop.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
