[Unit]
Description=haproxy Container

[Install]
WantedBy=multi-user.target

[Service]
PrivateNetwork=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
KillSignal=SIGTERM
Restart=always
RestartSec=5s
LimitNOFILE=16384
ExecStartPre=-/usr/bin/mkdir -p /srv/haproxy
ExecStartPre=-/usr/bin/podman stop haproxy
ExecStartPre=-/usr/bin/podman rm haproxy
ExecStop=/usr/bin/podman stop haproxy
ExecStart=/usr/bin/podman run --security-opt apparmor=unconfined -v /srv/haproxy:/host --name haproxy --network host --rm --ulimit nofile=4192:8192 __IMAGE__
